<h3>{{viewTitle}}</h3>

<form action="/employee" method="POST" autocomplete="off">
    <div>
        <label>Full Name</label>
        <input type="text" name="FullName" placeholder="Full Name">
    </div>
    <div>
        <label>Email</label>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div>
        <label>userName</label>
        <input type="text" name="userName" placeholder="userName">
    </div>
    <div>
        <label>Password</label>
        <input type="text" name="password" placeholder="password">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>